*{
    margin: 0%;
    padding:0%;
   
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
   min-height: 100vh;
   background-image: url(blob-scene-haikei2.png);
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
@media (max-width:768px){
    body{
        background-image: url(blob-scene-haikei\ mob.png);
        background-size: cover;
        background-position: center ;
        background-repeat: no-repeat;

    }
   
}
.container{
width:350px;
height:370px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color:#ffffff;
border:2px solid rgba(255, 255, 255, 0.2);
backdrop-filter: blur(20px);
box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}
@media (max-width: 768px) {
    .container {
      width:320px;
    
    }
  }
  

h2{
    color:#dddddd;
    font-weight: 1000;
    margin-bottom: 20px;
    font-size:2rem;
   

}
.input-email input{
    border:2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  padding: 5px;
background: transparent;
width:250px;
height: 25px;
display: flex;
justify-content:center;
align-items:centre;
flex-direction:column;
margin-bottom: 10px;
color:rgba(208, 207, 207, 0.941);


}
.input-email i{
    position:relative;
   left:235px; 
 top: 30px;

}

.input-email input:hover{
    background-color: #fefeff;
    color:black;
}

.pass a{
    width:10px;
    color:rgba(208, 207, 207, 0.941);
    margin-left: 10px;
      text-decoration: none;
}
.pass a:hover{
    text-decoration: underline;

}
.login-button{
   width:250px;
  height:35px;
  background-color:#b2b2df;
  margin-top:  10px;
  border:1px solid #b2b2df;
border-radius: 30px;
font-size: 1rem;
font-weight: 400;
transition-property: all;
transition-duration: 2s;
transition-timing-function: ease-in;
transition-delay: s;
}
.login-button:hover{
  font-size: 1.1rem;
  font-weight: 300;
  background-color: rgb(78, 99, 147);
 
}
.register{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
 
}
.register p{
    font-weight: 700;
}
.register a{
   font-size:1rem;
   color:aliceblue;
   text-decoration: none;
   padding-left: 5px;

}
.register p:hover{
text-decoration: underline;
}


.pass label{
    color:rgba(208, 207, 207, 0.941);
font-size: 16px;


}
.pass{
    margin-top: 15px;
    margin-left: 10px;
}
.submit-button{
    margin:5px 0px 0px 5px;

    
  
}
.pass a{
    margin-left:30px ;
}

